h1{
    background:blue;
    font-size:40px;
    }
    h2{
    background:red;
    font-size:40px;
    }
    h3{
    background:green;
    font-size:40px;
    }
    h3{
    background:purple;
    font-size:40px;
    }
    h4{
    background:yellow;
    font-size:40px;
    }
    h5{
    background:cyan;
    font-size:40px;
    }